.login-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #b07ab4, #e0cbdb);
  padding-top: 3rem;
  font-family: sans-serif;
  overflow: hidden;
}

.login-heading {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 2rem;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 10%;
}

.login-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  object-fit: contain;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 4rem 6rem;
  width: 40%;
}

.login-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.input-field {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  background-color: #f8fafc;
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-size: auto 60%;
}

#email {
  background-image: url("../img/email.png");
}

#password {
  background-image: url("../img/password.png");
}

.forgot-link {
  text-decoration: none;
  color: #444;
  font-size: 0.9rem;
}

.login-button {
  text-align: center;
  text-decoration: none;
  background-color: #b07ab4;
  color: white;
  padding: 0.5rem 0;
  border-radius: 9999px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.register-text {
  text-align: center;
  font-size: 0.9rem;
}

.register-link {
  color: #b07ab4;
  text-decoration: none;
}
/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .login-container {
    justify-content: center;
    padding-right: 0;
  }

  .login-image {
    display: none;
  }

  .login-form {
    width: 90%;
    padding: 2rem;
  }

  .login-heading {
    font-size: 2rem;
  }

  .login-title {
    font-size: 1.8rem;
  }
}
