/* Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oleo+Script+Swash+Caps&display=swap");

/* ======== MAIN CONTENT ======== */
.back-button {
  font-size: 1.5em;
  background: none;
  border: none;
  margin: 20px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2.2em;
}

h1 .highlight {
  color: #a176c8;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.image-container img {
  max-width: 90%;
  border-radius: 10px;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

ol {
  padding-left: 40px;
}

ol li {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding-left: 40px;
}

ul li {
  margin-bottom: 5px;
}
.cta {
  background-color: #a176c8; /* Warna ungu pastel */
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(161, 118, 200, 0.3);
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #8f63b8;
}

.tags {
  margin-top: 15px;
}

.tag {
  background-color: #f3e8ff;
  color: #7b4fa4;
  display: inline-block;
  padding: 6px 14px;
  margin-right: 10px;
  border-radius: 25px;
  font-size: 0.9em;
  border: 1px solid #d3b5f4;
  font-weight: 600;
}
.share .icons a {
  margin-left: 10px;
  color: #5e5b87;
  transition: transform 0.2s ease;
}

.share .icons a:hover {
  transform: scale(1.2);
  color: #a176c8;
}
